.header{
    grid-area: h;
    background-color: aqua;
    margin-bottom: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header img {
    width: 80px;



}

.loginBlock{
    float: right;
    margin-right: 10px;
}