.formControl {

}
textarea:focus, input:focus {
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, .2);
    outline: 0;
}

.formControl.error input,
.formControl.error textarea {
    border: solid 2px mediumvioletred;
}

.formControl.error span {
    font-weight: bold;
    background: -webkit-linear-gradient(white, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.formSummaryError{
    padding: 2px 5px;
    border: solid 1px red;
    color: white;
    margin: 7px 0;
}